version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: wallet_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - wallet_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: gilguerra/wallet_api:latest
    container_name: wallet_api
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - wallet_network
  
  frontend:
    image: jpco0/wallet-frontend:1.0.0
    container_name: wallet_frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - app
    networks:
      - wallet_network

volumes:
  postgres_data:

networks:
  wallet_network:
    driver: bridge
  
